<mdb-card class="m-5">
  <!--Card content-->

  <mdb-card-header>
    User Details
  </mdb-card-header>

  <mdb-card-body>
    <mdb-card-body>
      <!--Title-->
      <mdb-card-title>
        <h4>{{user.name}}</h4>
      </mdb-card-title>
      <mdb-card-text>
        <label>Age : {{user.age}} </label>
        <br>
        <label>Email : {{user.mail}}</label>
      </mdb-card-text>
    </mdb-card-body>
  </mdb-card-body>
  <mdb-card-footer>
    <a routerLink="/userdetails/{{user.id}}/edit" mdbBtn color="primary" mdbWavesEffect>Edit</a>
    <a routerLink="" mdbBtn color="red" mdbWavesEffect (click)="deleteUser($event)">Delete</a>
  </mdb-card-footer>
</mdb-card>
